/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.topnav {
  font-size: 14px;
  background-color: #f4511e;
  border-bottom: none;
  height: auto;
}

.navbar-default {
  .navbar-brand, .navbar-nav > li > a {
  color: black;
    &:hover{
      color: white;
    }
  }
}

.intro-header {
  padding-top: 50px; 
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  border-bottom: none;
  height: 100vh;
}

.intro-message {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 20vh;
  color: black;
  }

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  .intro-divider {
    width: 100%;
  }
  .summary-fixed {
    display: none;
  }

  .summary-info {
    div:first-of-type {
      h3, h2{
      text-align: center;
      }
    }
  }

  .search-field {
    margin-top: 20px;
  }

}

@media(max-width:600px) {
  #summary-drop-list {
    display: none;
  }

  .summary-card {
    /*width: 100% !important;*/
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  color: black;
}

#user_remember_me {
  left: 115px;
}

.center {
  text-align: center;
    a {
      text-decoration: none;
      color: inherit;
    }
}

.center h1 {
  margin-bottom: 10px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
    margin-bottom: 15;
  }
}

.validation-error {
  color:red;
  padding-top: 0px;
  margin-top:  0px;
  margin-left: 20px;
  font-weight: normal;
}

.table { 
  border: none;
   th {
    font-weight: bold;
    text-align: center;
  }

  a {
    color: inherit;
    i {
      color: white;
    }
  }
}

form {
  width: 35%;
  min-width: 300px;
  margin: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.content-area {
  background: #e1e3ec;
  min-height: 75vh;
  h1 {
    text-align: center;
  }
}

.pagination {
  margin: 5px;
}

footer {
  border-radius: 0 0 5px 5px;
  padding: 20px;
  height: 60px;
}

/*flash messages*/

.alert-error, .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success, .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.q-width {
  margin: auto;
  width: 40%;
  min-width: 300px;
}

td {
 font-size: 1.2em;
   a:hover {
    text-decoration: none;
  }
}

.new_template, .edit_template {
  width: 60%;
}

.container-fluid {
  margin-top: 50px;
}

.breadcrumb {
  margin-top: 50px;
  margin-bottom: 0;
  border-radius: 0;
  color:black;
  height: 40px;
  border-radius: 0;
  box-shadow: 0 4px 2px -2px gray;
  a {
    color:black;
    text-decoration: none;
    }
  background: #e1e3ec;
  font-size: 1.2em;
}

.progress{
  margin: 0;
}

.field_with_errors { 
  display: inline; 
}

/* admin dashboard */

.page-header {
  border-bottom: 2px solid #5F8295;
}

.panel {
  border-radius: 0;
  box-shadow: 0 1px 2px #C3C3C3;
  color: #8B91A0;
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #ffffff;
  position: relative;
}

.core-icon {
  width: 33.3333%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
}

.core-content {
  margin-left: 33.3333%;
  min-height: 120px;
  padding: 20px;
  h2, h4 {
    color: #4C4A4A;
  }
}

.panel-footer {
  border: none;
  padding: 0;
  text-align: center;
  a {
    padding: 15px; 
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: #52514D;
  }
}

.partition {
  padding: 15px;
  color: #ffffff;
  .glyphicon {
    margin-top: 25px;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.75);
  }
}

.partition-light-blue {
  background-color: #829AB7;
}

.partition-blue {
  background-color: #426C94;
}

.partition-grey {
  background-color: #52514D;
}

.sort_link {
  font-size: 20px;
}

.scrollable-list {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.list-fixed {
  top: 120px;
  position: fixed;
  z-index: 2;
}

.summary-info {
  div:first-of-type {
    text-align: right;
  }
  div:last-of-type {
    box-shadow: -2px 0 2px -1px gray;
  }
}

.summary-card {
  float: right;
  width: 80%;
  min-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 1px 3px 2px gray;
  border-radius: 5px;
  
  .well {
    min-width: 260px;
    overflow: hidden;
  }
}

.toright {
  margin-left: 2px;
}

.custom-table table {
  margin: auto;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  border: none;
  margin-bottom: 20px;
  background: #f7f7f7;

  th {
    background: #337AB7;
    color: #f7f7f7;
  }
}

.topic-table table {
  max-width: 700px;
}

@media(min-width:767px) {
  .bottom-paginator {
    display: none;
  }
}

/* progressbar for levels */

.custom-progress-bar-beginner {
   width: 40%;
   background-color: #5cb85c;
 }
 
 .custom-progress-bar-good {
   width: 66%;
   background-color: #f0ad4e;
 }
 
 .custom-progress-bar-strong {
   width: 100%;
   background-color: #d9534f;
 }

.width_5 {
  width: 5%;
}

.width_10 {
  width: 10%;
}

.width_65 {
  width: 65%;
}

.width_22 {
  width: 22%;
}

.width_15 {
  width: 15%;
}

.width_20 {
  width: 20%;
}

.width_25 {
  width: 25%;
}

.width_30 {
  width: 30%;
}

.width_50 {
  width: 50%;
}

.width_55 {
  width: 50%;
}

.green_label {
  color: green;
}

.yellow_label {
  color: yellow;
}

.red_label {
  color: red;
}

.bg_link {
  color: black;
  display: inline-block;
  margin: 0 10px 3px 0;
}

.bg_green {
  background-color: green;
}

.bg_yellow {
  background-color: yellow;
}

.bg_red {
  background-color: red;
}

.interview_form {
  width: 90%;
}

.bg_radio {
  margin-right: 40px;
}

#interview-table table {
  max-width: 1100px;
  margin: auto;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  border: none;
  .active th {
    color: #f7f7f7;
    background: #337AB7;
  }
}

.table-pagination {
  margin-right: 15px;
}

input[type=radio] {
  display: none;
}

.w_55px {
  width: 55px;
}

.ng-cloak {
  display: none !important;
}

.width_500 {
  max-width: 500px;
}

.width_70 {
  width: 70%;
}

.w_35px {
  width: 35px;
}



/* show photos - carousel */
.carousel-inner img {
  /*-webkit-filter: grayscale(90%);
  filter: grayscale(90%); *//* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.carousel-indicators {
  li {
    margin-right: 10px;
  }
  .active {
    margin-right: 10px;
  }
}



/* Remove rounded borders from list */
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn_n {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn_n:hover,
.btn_n:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.bg_orange {
  background-color: #f4511e;
}



/* Add a dark gray background color to the modal header and center text */
.modal-header,
h4,
.close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header,
.modal-body {
  padding: 40px 50px;
}

.nav-tabs li a {
  color: #777;
}



.pos_fix {
  position: fixed;
  left: 10px;
  top: 100px;
}

#googleMap {
  height: 600px;
  width: 100%;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.padding_0 {
  padding: 0;
}

.jumbotron {
  color: #f4511e; 
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 25px;
  }
}
